<form class='mt-4' method='get' action='/news'>
  <div class='form-group'>
    <label for='search-input'>Từ khoá</label>
    <input
      type='text'
      name='q'
      class='form-control'
      placeholder='Nhập từ khoá...'
    />
  </div>
  <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
</form>