<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <a class='navbar-brand' href='#'>Education</a>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav mr-auto'>
        <li class='dropdown'>
          <button
            class='btn btn-secondary dropdown-toggle'
            type='button'
            id='dropdownMenuButton'
            data-toggle='dropdown'
            aria-haspopup='true'
            aria-expanded='false'
          >
            <img
              src='https://files.fullstack.edu.vn/f8-prod/user_photos/385971/65b1c86f4dcaf.jpg'
              alt='avatar'
              class='user-avatar'
            />
            Quang Thai
          </button>
          <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
            <a class='dropdown-item' href='/courses/create'>Đăng ký khoá học</a>
            <a class='dropdown-item' href='/me/stored/courses'>Khoá học của tôi</a>
            <a class='dropdown-item' href='/me/stored/news'>Bài đăng của tôi</a>
            <a class='dropdown-item' href='#'>Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>